.card{
    width: calc(100vw - 80px);
    display: block;
    overflow: hidden;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.2);
    border-radius: 8px;
    border: 1px solid #ebeef5;
    background-color: #fff;
    overflow: hidden;
    color: #303133;
    transition: opacity .3s;
    margin-top: 100px;
    &-tip{
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #000;
        color: #fff;
        opacity: 0.5;
        font-style: italic;
        font-size: 24px;
        text-align: right;
        padding: 0 10px;
    }
    &-body{
        padding: 40px;
    }
}